# Lab 12 - Data Analysis with Pandas (Video Game Stats)

*Author*: Kassie Bradshaw

*Start Date*: 07-13-2021

*Data Set Name*: vgstats

In [80]:
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
df = pd.read_csv('vgsales.csv')

In [82]:
df.info() # shows all the column headers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [83]:
# To get Most Common Game Publisher - source credit: Jared Wilber https://stackoverflow.com/a/55887739

df['Publisher'].value_counts()[:1].index.tolist()

['Electronic Arts']

In [84]:
# To get Most Common Game Platform - source credit: Jared Wilber https://stackoverflow.com/a/55887739

df['Platform'].value_counts()[:5].index.tolist()

['DS', 'PS2', 'PS3', 'Wii', 'X360']

In [85]:
# Most Common Genre
df['Genre'].value_counts()[:5].index.tolist()

['Action', 'Sports', 'Misc', 'Role-Playing', 'Shooter']

In [86]:
# Top 20 Highest Grossing Games
top20 = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False)
top20.head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [87]:
# Median North American sales

na_median = df.loc[:,'NA_Sales'].median()
print(na_median)

0.08

In [89]:
# Secondary output showing 10 games surrounding median sales output

med_NA = df[df['NA_Sales'] == na_median]
med_NA[['Name', 'NA_Sales']].head(10)

                                                   Name  NA_Sales
446                                   Dragon Warrior IV      0.08
497         World Soccer Winning Eleven 7 International      0.08
1617                             Farming Simulator 2015      0.08
1926                          Pro Evolution Soccer 2008      0.08
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...      0.08
2373                           Phantasy Star Portable 2      0.08
2579                               The Sims 2: Castaway      0.08
3186                                     SingStar Queen      0.08
3503                                         Top Spin 3      0.08
3703               Sonic & All-Stars Racing Transformed      0.08

In [93]:
# Top Selling Game of All Time

top_seller = df[['Name', 'Global_Sales']].head(1)
print(top_seller)

         Name  Global_Sales
0  Wii Sports         82.74

In [102]:
#Come up with 3 more questions

# What were the top 10 most popular game in Japan?

Japan_sales = df[['Name', 'JP_Sales']].sort_values('JP_Sales', ascending=False)
Japan_sales.head(10)

                                            Name  JP_Sales
4                       Pokemon Red/Pokemon Blue     10.22
12                   Pokemon Gold/Pokemon Silver      7.20
1                              Super Mario Bros.      6.81
6                          New Super Mario Bros.      6.50
20                 Pokemon Diamond/Pokemon Pearl      6.04
26                   Pokemon Black/Pokemon White      5.65
25                 Pokemon Ruby/Pokemon Sapphire      5.38
41                   Animal Crossing: Wild World      5.33
27   Brain Age 2: More Training in Minutes a Day      5.32
214                     Monster Hunter Freedom 3      4.87